<mat-card-header>
	<div class="header-buttons">
		<button mat-raised-button
				class="header-buttons__btn"
				color="primary"
				(click)="clickHandler('Кнопка New не реализована!')"
		>New</button>
		<button mat-raised-button
				class="header-buttons__btn"
				color="primary"
				(click)="clickHandler('Кнопка Edit не реализована!')"
		>Edit</button>
		<button mat-raised-button
				class="header-buttons__btn"
				color="primary"
				(click)="clickHandler('Кнопка Delete не реализована!')"
		>Delete</button>
	</div>
</mat-card-header>