<!-- <nav class="navbar navbar-dark bg-dark">
	<div class="container-fluid">
	  <a class="navbar-brand logo" href="#">
		<img src="../../../assets/icons/logo.png" alt=""
				class="d-inline-block align-text-top logo__icon">
		<span *ngIf="title" class="logo__title">{{title}}</span>
	  </a>
	</div>
  </nav> -->

<nav class="navbar">
	<div class="header">
		<a class="logo" href="#">
			<img src="../../../../assets/icons/logo.png" alt="Logo" class="logo__icon">
			<span *ngIf="title" class="logo__title">{{title}}</span>
		</a>
		<div class="menu">
			<a *ngFor="let item of menuItems; let index = index" class="menu-item" href="#"
				(click)="clickHandler($event, index)">
				<mat-label *ngIf="title" class="menu-item__title">{{item}}</mat-label>
				<mat-select (selectionChange)="selectOption($event)">
					<mat-option *ngFor="let option of menuItemsOperations[item]" [value]="option.id">{{option.value}}
					</mat-option>
				</mat-select>
			</a>
			<a href="#" class="menu-item" (click)="notificationsClickHandler($event)">
				<span *ngIf="notifications.length; else icon"
						[matBadge]="notifications.length"
						matBadgeOverlap="true"
						class="icon-wrapper">
					<ion-icon name="notifications-outline" class="icon"></ion-icon>
				</span>
				<ng-template #icon>
					<span class="icon-wrapper">
						<ion-icon name="notifications-outline" class="icon"></ion-icon>
					</span>
				</ng-template>
			</a>
			<a routerLink="/logout" class="menu-item">
				<span class="icon-wrapper">
					<ion-icon name="log-out-outline" class="icon"></ion-icon>
				</span>
			</a>
			<!-- <ng-container *ngIf="isShownDropdown">
				<mat-label>Choose an option</mat-label>
				
			</ng-container> -->
		</div>
	</div>
</nav>

<app-notifications-list *ngIf="isShownNotifications"
						[notifications]="notifications"
						(onNotificationsChange)="notificationsChangeHandler($event)"
						(onClose)="notificationCloseHandler($event)"
></app-notifications-list>