<mat-accordion class="user-info">
	<mat-expansion-panel class="user-info-wrapper"
						(opened)="panelOpenState = true"
						(closed)="panelOpenState = false">
		<mat-expansion-panel-header class="user-info__header">
			<mat-panel-title>
				<span class="user-info__header-title-key">User:</span>
				<span class="user-info__header-title-value"> {{ user.name }} </span>
			</mat-panel-title>
			<mat-panel-description>
				<span class="user-info__header-meta-key">Used traffic:</span>
				<span class="user-info__header-meta-value"
					[appTreshold]="usedTrafficByUserInPercent"
				> {{ user.usedTraffic! | percent:user.traffic! }}% </span>
			</mat-panel-description>
		</mat-expansion-panel-header>

		<div *ngIf="panelOpenState" class="user-info__content">
			<div class="user-info__content-chart user-info__content-item">
				<app-chart [type]="chartType" [user]="user"></app-chart>
			</div>
			<div class="user-info__content-description user-info__content-item">
				<div class="user-info__content-description-item">
					<span class="user-info__content-description-item-key">Traffic:</span>
					<span class="user-info__content-description-item-value">{{user.traffic! | traffic}}</span>
				</div>

				<div class="user-info__content-description-item">
					<span class="user-info__content-description-item-key">Used Traffic:</span>
					<span class="user-info__content-description-item-value">{{user.traffic! | traffic}}</span>
				</div>
			</div>
		</div>
	</mat-expansion-panel>
</mat-accordion>